<%- include("../partials/_navbar.ejs") %>
    <%- include("../partials/_title.ejs") %>
    <div class="row justify-content-center">
<div class="card col-9">
<ul>
    <div class="card">
    <% animals.forEach(function(animal) { %>
        <hr>Zoo: <%= animal.zoo %><br><hr>
        Scientific Name: <%= animal.scientificName %><br><hr>
        Common Name: <%= animal.commonName %><br><hr>
        Given Name: <%= animal.givenName %><br><hr>
        Gender: <%= animal.gender %><br><hr>
        Date of Birth: <%= animal.dateOfBirth.toJSON().slice(0, 10)%><br><hr>
        Age: <%= animal.age %><br><hr>
        Transportability?: <%= animal.isTransportable %><br><hr>
        <!-- using hidden variables to pass data -->
        <form action="/edit-from" method="POST">
            <input type="hidden" value="<%= animal._id %>" name="_id" /> 
            <input type="hidden" value="<%= animal.zoo %>" name="zoo" /> 
            <input type="hidden" value="<%= animal.scientificName %>" name="scientificName" /> 
            <input type="hidden" value="<%= animal.commonName %>" name="commonName" /> 
            <input type="hidden" value="<%= animal.givenName %>" name="givenName" /> 
            <input type="hidden" value="<%= animal.gender %>" name="gender" /> 
            <input type="hidden" value="<%= animal.dateOfBirth.toJSON().slice(0, 10)%>" name="dateOfBirth" /> 
            <input type="hidden" value="<%= animal.age %>" name="age" /> 
            <input type="hidden" value="<%= animal.isTransportable %>" name="isTransportable" /> 
            <input class="btn bg-black text-white" type="submit" value="Edit Animal">
        </form>
        <% }); %>
    </div>
</ul>
</div>
</div>